# Author: Dustin Pilgrim
# License: GPL-3.0-only

[Unit]
Description=Stasis Wayland Idle Manager
PartOf=graphical-session.target
After=graphical-session.target
ConditionPathExists=%t

[Service]
Type=simple
ExecStart=/usr/bin/stasis
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
